In [3]:
r = [c for c in 'apples']

In [4]:
r

['a', 'p', 'p', 'l', 'e', 's']

In [5]:
r = [n for n in range(10)]

In [6]:
r

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

```Python
[<expr> for <var> in <Container>]

[<expr> for <var> in <Container/Function> <Condition>]

```

In [8]:
r = [v for v in [1,2,3,4,5]]

In [9]:
r

[1, 2, 3, 4, 5]

In [10]:
#Names containing 'A'
r = [name for name in ['Apple','Bananna',"Orange",'Apricot'] if 'A' in name]

In [11]:
r

['Apple', 'Apricot']

In [12]:
#Names in exact 4 characters
r = [name for name in ['Ball','Bat','Card','Hat','Pen'] if len(name)==4]

In [13]:
r

['Ball', 'Card']

In [14]:
class TCls1:
    def __init__(self,rn):
        self.rn= rn
        
    def getRn(self):
        return self.rn
    
    def setRn(self,newrn):
        self.rn = newrn
        
    rno = property(getRn,setRn)

In [15]:
a = TCls1(100)

In [16]:
a.rno

100

In [17]:
a.rno=200

In [18]:
a.rno

200

In [19]:
class TCls1:
    def __init__(self,rn=0):
        self.rn= rn
        
    def getRn(self):
        return self.rn
    
    def setRn(self,newrn):
        self.rn = newrn
        
    rno = property(getRn,setRn)

In [20]:
a = TCls1()

In [21]:
a.rno

0

In [22]:
a.rno=20

In [23]:
a.rno

20

In [24]:
a.rn

20

In [25]:
a.rn=100

In [26]:
a.rn

100

In [27]:
class TCls1:
    def __init__(self,rn=0):
        self.__rn= rn
        
    def getRn(self):
        return self.__rn
    
    def setRn(self,newrn):
        self.__rn = newrn
        
    rno = property(getRn,setRn)

In [28]:
a = TCls1()

In [29]:
a

In [30]:
a.rn

AttributeError: 'TCls1' object has no attribute 'rn'

In [31]:
a.rno

0

In [32]:
a.rn=200

In [33]:
a.rn

200

In [34]:
a.rno

0

In [35]:
def inner():
    print('inner exec!!!')
    
def outer(fn):
    fn()

In [36]:
outer(inner)

inner exec!!!

In [37]:
def square(n):
    print(n*n)

def double(fn,n):
    print("Double of the number is ::",n+n)
    fn(n)

In [38]:
double(square,5)

Double of the number is :: 10
25

In [44]:
def double(n):
    print("double of",n," is ::",n+n)
def square(fn,n):
    print("Square of ",n,'is',n**2)
    fn(n)
def cube(fn1,fn2,n):
    print("Cube of ",n,'is ::',n**3)
    fn1(fn2,n)

In [45]:
cube(square,double,3)

Cube of  3 is :: 27
Square of  3 is 9
double of 3  is :: 6

In [46]:
animals = ["ferret", "vole", "dog", "gecko"]

In [47]:
animals

['ferret', 'vole', 'dog', 'gecko']

In [48]:
sorted(animals)

['dog', 'ferret', 'gecko', 'vole']

In [49]:
animals

['ferret', 'vole', 'dog', 'gecko']

In [50]:
sorted(animals, key=len)

['dog', 'vole', 'gecko', 'ferret']

In [52]:
def f(a,b,c):
    return a+b+c

In [53]:
list(map(f, [1, 2, 3], [10, 20, 30], [100, 200, 300]))

[111, 222, 333]