In [10]:
class TCls1:
    def __init__(self,eno,ena):
        self.eno = eno
        self.ena = ena
        
    def getEno(self):
        return self.eno
    
    def getEna(self):
        return self.ena
    
    def dispDtls(self):
        print(self.eno,' , ',self.ena)

In [6]:
t1 = TCls1(101,'AAA')

In [7]:
t1.getEno()

101

In [8]:
t1.getEna()

'AAA'

In [17]:
tlist = [TCls1(5,'EEE'),TCls1(2,'BBB'),TCls1(3,'CCC'),TCls1(4,'DDD'),TCls1(1,'AAA')]

In [18]:
for t in tlist:
    t.dispDtls()

5  ,  EEE
2  ,  BBB
3  ,  CCC
4  ,  DDD
1  ,  AAA

In [19]:
tlist.sort(key=lambda s : s.getEno())

In [20]:
for t in tlist:
    t.dispDtls()

1  ,  AAA
2  ,  BBB
3  ,  CCC
4  ,  DDD
5  ,  EEE

In [21]:
tlist.sort(key=lambda s : s.getEno(),reverse=True)

In [22]:
for t in tlist:
    t.dispDtls()

5  ,  EEE
4  ,  DDD
3  ,  CCC
2  ,  BBB
1  ,  AAA

In [24]:
tlist.sort(key=lambda s : s.getEna())

In [25]:
for t in tlist:
    t.dispDtls()

1  ,  AAA
2  ,  BBB
3  ,  CCC
4  ,  DDD
5  ,  EEE

In [27]:
tlist.sort(key=lambda s : s.getEna(),reverse=True)

In [28]:
for t in tlist:
    t.dispDtls()

5  ,  EEE
4  ,  DDD
3  ,  CCC
2  ,  BBB
1  ,  AAA